.footer {
  padding: 100px 0 200px;
  background-image: url(../img/planet_3.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: contain;
  position: relative;

  @media(max-width:$md4) {
    padding: 70px 0 70px;
  }

  @media(max-width:$md5) {
    padding: 70px 0 50px;
    background-size: 100%;
  }

  &__social {}

  &__social-elem {
    &:not(:last-child) {
      margin-bottom: 50px;

      @media(max-width:$md4) {
        margin-bottom: 20px;
      }
    }

  }

  &__social-link {
    display: flex;
    align-items: center;

    svg {
      display: block;
      margin-right: 20px;

      @media(max-width:$md4) {
        width: 30px;
      }
    }
  }
}

.meteor {
  position: absolute;
  right: 20%;
  bottom: 135px;
  max-width: 447px;
  width: 50%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media(max-width:$md3) {
    right: 10%;
  }

  @media(max-width:$md4) {
    display: none;
  }
}

.container {}