.hero {
  padding: 130px 0;
  background: url(../img/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media(max-width:$md5) {
    min-height: 430px;
    padding: 0;
    background-position: top 0 right 15%;
  }

  @media(max-width:$md6) {
    // 
    background-position: top 0 right 13%;
  }

  &__logo {
    max-width: 497px;
    width: 50%;

    @media(max-width:$md5) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.container {}