<section id="about" class="about">
  <div class="about__elipse">
    <img src="img/elipse_1.png" alt="">
  </div>
  <div class="section__header about__header">
    <div class="container">
      <h2 class="section-title" data-aos="fade-up">About</h2>
    </div>
  </div>
  <div class="about__planet js-tilt" data-aos="fade-up-left" data-aos-offset="100" data-aos-duration="1000">
    <img src="img/planet.png" alt="">
  </div>
  <div class="container">
    <div class="about__text" data-aos="fade-down">Santa Musk is a Meme Coin with very strong community. Hold SAMU tokens
      on your wallet and
      get rewards of each buy/sell transaction. Also we puts a portion of it’s taxes directly into a rewards wallet, to
      be distributed amongst all holders on Christmas day
      (December 25th 2021)</div>
    <div class="about__video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jfKfPfyJRdk" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</section>