<section id="airdrop" class="airdrop">
    <div class="airdrop__header section__header">
        <div class="container">
            <h2 class="section-title">Airdrop</h2>
        </div>
    </div>
    <div class="container">
        <div class="airdrop__text">
            We’re giving away $50,000 worth of $WSM tokens split between 5 licky degens in a very generous Wall Syreet
            Memes
            airdrop. Enter below and make ure you’re in it to win it!
        </div>
        <div class="airdrop__enter enter-block back-layer">
            <div class="enter-block__item">
                <div class="enter-block__header">
                    <div class="enter-block__header-item">
                        <div class="enter-block__value">0</div>
                        <div class="enter-block__text">Your Entries</div>
                    </div>
                    <div class="enter-block__header-item">
                        <div class="enter-block__value">63,105</div>
                        <div class="enter-block__text">Total Entries</div>
                    </div>
                    <div class="enter-block__header-item">
                        <div class="enter-block__value">123</div>
                        <div class="enter-block__text">Days Left</div>
                    </div>
                </div>
                <div class="enter-block__content">
                    <div class="enter-block__label">Wall Street Memes $50,000 Airdrop</div>
                    <div class="enter-block__text">
                        <p>Wall Street Memes $50,000 Airdrop is Live Now</p>
                        <p>Simply follow the steps to enter</p>
                        <p>5 x $10.000 of $WSSM is Up For Grabs</p>
                    </div>
                </div>
            </div>
            <div class="enter-block__title">7 Ways to Enter</div>
            <div class="enter-block__item login-block">
                <div class="login-block__with login-with">
                    <div class="login-with__label">Login With:</div>
                    <div class="login-with__links">
                        <a href="#" class="login-with__link">
                            <img src="./img/icon/fb.svg" alt="facebook">
                        </a>
                        <a href="#" class="login-with__link">
                            <img src="./img/icon/tw.svg" alt="twitter">
                        </a>
                        <a href="#" class="login-with__link">
                            <img src="./img/icon/tg.svg" alt="telegram">
                        </a>
                        <a href="#" class="login-with__link">
                            <img src="./img/icon/discord.svg" alt="discord">
                        </a>
                    </div>
                </div>
                <div class="enter-block__content">
                    <ul class="login-block__list scroll-block">
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/fb.svg" alt="facebook">
                            </span>
                                <span class="login-block__link-text">Follow @wallstmemes on Twitter</span>

                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/tw.svg" alt="twitter">
                            </span>
                                <span class="login-block__link-text">Join @wallst memes on Telegram</span>
                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/tg.svg" alt="telegram">
                            </span>
                                <span class="login-block__link-text">Visit @wallstmemes on Instagram</span>
                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/inst.svg" alt="Instagram">
                            </span>
                                <span class="login-block__link-text">Submit Proof Of Purchase ($WSM Tokens)</span>
                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/discord.svg" alt="discord">
                            </span>
                                <span class="login-block__link-text">Submit Proof Of Purchase ($WSM Tokens)</span>
                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                        <li class="login-block__elem">
                            <a href="" class="login-block__link">
                            <span class="login-block__icon">
                                <img src="img/icon/social.svg" alt="social">
                            </span>
                                <span class="login-block__link-text">Join Our Discord Server</span>
                                <span class="login-block__status">+1</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
