<footer class="footer" data-scene data-speed="1.2">
  <div class="meteor" data-aos="fade-up-right" data-aos-duration="2000">
    <img src="img/meteor.png" alt="meteor">
  </div>
  <div class="container">
    <ul class="footer__social">
      <li class="footer__social-elem">
        <a href="mailto:mail@example.com" target="_blank" class="footer__social-link">
          <svg width="67" height="53" class="">
            <use xlink:href="./img/icons/icons.svg#mail"></use>
          </svg>
          <span>mail@example.com</span>
        </a>
      </li>
      <li class="footer__social-elem">

        <a href="https://telegram.me/telegram" target="_blank" class="footer__social-link">
          <svg width="66" height="61" class="">
            <use xlink:href="./img/icons/icons.svg#telegram"></use>
          </svg>
          <span>@Telegram</span>
        </a>
      </li>
      <li class="footer__social-elem">
        <a href="https://twitter.com/" target="_blank" class="footer__social-link">
          <svg width="72" height="60" class="">
            <use xlink:href="./img/icons/icons.svg#twitter"></use>
          </svg>
          <span>https://twitter.com/</span>
        </a>
      </li>
    </ul>
  </div>
</footer>