<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo logo">
        <img src="img/logo.svg" alt="colonizer">
      </a>
      <nav class="header__nav">
        <a scroll-href="#about" class="header__link">About</a>
        <a scroll-href="#roadmap" class="header__link">Roadmap</a>
        <a scroll-href="#tokenomics" class="header__link">Tokenomics</a>
        <a scroll-href="#airdrop" class="header__link">Airdrop</a>
        <a scroll-href="#team" class="header__link">Team</a>
      </nav>
      <div class="header__handle">
        <a href="#" class="header__btn">Buy now</a>
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu__container container"></div>
  </div>
</header>
