<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <h1 class="hero__title title">The Crreator of New Worlds
          Began His Jouney</h1>
        <div class="hero__btns">
          <a href="#" class="hero__btn btn btn_black">kyc certtificate</a>
          <a href="#" class="hero__btn btn btn_black">Auditor’s report</a>
        </div>
        <h2 class="hero__title">Countdown to launch</h2>
        <div class="timer">
          <div class="timer-block">
            <div class="timer__value">1</div>
            <div class="timer__label">days</div>
          </div>
          <div class="timer-block">
            <div class="timer__value">00</div>
            <div class="timer__label">hours</div>
          </div>
          <div class="timer-block">
            <div class="timer__value">00</div>
            <div class="timer__label">minutes</div>
          </div>
          <div class="timer-block">
            <div class="timer__value">00</div>
            <div class="timer__label">seconds</div>
          </div>
        </div>
      </div>
      <div class="hero__stages stages">
        <div class="stages__label">Seed round</div>
        <div class="stages__items">
          <div class="stage-item">
            <div class="stage-item__label">Stage 1</div>
            <div class="stage-item__value">1 USDT = 1500 CLR</div>
          </div>
          <div class="stage-item">
            <div class="stage-item__label">Stage 2</div>
            <div class="stage-item__value">1 USDT = 1500 CLR</div>
          </div>
          <div class="stage-item">
            <div class="stage-item__label">Stage 3</div>
            <div class="stage-item__value">1 USDT = 1500 CLR</div>
          </div>
        </div>
        <div class="stages__progress">
          <span class="stages__progress-line"></span>
        </div>
        <div class="stages__progress-value">
          <span id="progress_now">$70,000</span> / <span id="progress_max">$300,000</span>
        </div>
        <div class="stages__text">
          <p>Buy before price increases</p>
          <p>Listing price: 1 USDT = 750 CLR</p>
        </div>
        <h3 class="stages__title">
          How to buy?
        </h3>
        <div class="stages__text">
          <p>It's simple and safe, no need</p>
          <p>connect your wallet</p>
        </div>
        <h4 class="stages__title">
          Send USDT (BEP20) to address:
        </h4>
        <div class="stages__wallet">
          <span id="stage-wallet" class="stages__wallet-value">Ox194adA9Afe34C227460D2Eb79A67994b29B643ca</span>
          <button id="copy-wallet" class="stages__wallet-copy btn-reset">
            <svg width="29" height="34" class="">
              <use xlink:href="./img/icons/icons.svg#copy"></use>
            </svg>
          </button>
        </div>
        <div class="stages__text">
          <p>Tokens will be distributed</p>
          <p>5 days after launch on DEX</p>
        </div>
      </div>
    </div>
  </div>
</section>
