<div id="modal-copyed" class="notification">
  <div class="notification__icon">
    <img src="img/icon/check.svg" alt="checked">
  </div>
  <div class="notification__text">Copied!</div>
</div>
<div class="popups">
  <div class="popups__inner">
    <div id="modal-token" class="popup back-layer">
      <div class="popup__content">
        <div class="popup__back js-close-popup">
          Choose a token
        </div>
        <div class="search popup__search">
          <div class="input-block">
            <input type="text" placeholder="Search by name or paste address">
          </div>
          <button class="search__btn">
            <img src="img/icon/lupe.svg" alt="lupe">
          </button>
        </div>
        <div class="popup__list scroll-block">
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
          <li class="popup__elem select-option">
            <img class="select-option__icon" src="img/icon/token_1.png" alt="BNB">
            <span class="select-option__value">BNB</span>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>