<section id="partners" class="partners">
    <div class="section__header partners__header">
        <div class="container">
            <h2 class="section-title">Partners</h2>
        </div>
    </div>
    <div class="partners__container container">
        <div class="partners__wrapper">
            <div class="partners__item">
                <div class="partner__photo">
                    <img src="./img/partners/partner_1.svg" alt="partner">
                </div>
            </div>
            <div class="partners__item">
                <div class="partner__photo">
                    <img src="./img/partners/partner_1.svg" alt="partner">
                </div>
            </div>
            <div class="partners__item">
                <div class="partner__photo">
                    <img src="./img/partners/partner_1.svg" alt="partner">
                </div>
            </div>
            <div class="partners__item">
                <div class="partner__photo">
                    <img src="./img/partners/partner_1.svg" alt="partner">
                </div>
            </div>
            <div class="partners__item">
                <div class="partner__photo">
                    <img src="./img/partners/partner_1.svg" alt="partner">
                </div>
            </div>
        </div>
    </div>
</section>
