<section id="rewards" class="rewards">
  <div class="rewards__header section__header">
    <div class="container">
      <h2 class="section-title">Rewards</h2>
    </div>
  </div>
  <div class="rewards__inner">
    <div class="rewards__planet">
      <img src="img/planet_2.png" alt="">
    </div>
    <div class="rewards__container container">
      <div class="rewards__content ">
        <div class="rewards__content-blur back-layer"></div>
        <div class="rewards__icon">
          <img src="img/icon/timer.svg" alt="timer">
        </div>
        <div class="rewards__timer">
          <div class="rewards__timer-block">
            <div class="rewards__value">1</div>
            <div class="rewards__label">days</div>
          </div>
          <div class="rewards__timer-block">
            <div class="rewards__value">00</div>
            <div class="rewards__label">hours</div>
          </div>
          <div class="rewards__timer-block">
            <div class="rewards__value">00</div>
            <div class="rewards__label">minutes</div>
          </div>
          <div class="rewards__timer-block">
            <div class="rewards__value">00</div>
            <div class="rewards__label">seconds</div>
          </div>
        </div>
        <div class="rewards__porgress">
          <div class="rewards__porgress-line">
            <div class="rewards__porgress-load"></div>
          </div>
          <div class="rewards__porgress-persent">35%</div>
        </div>
      </div>
      <div class="rewards__wrapper">
        <div class="rewards__item">
          <div class="rewards__item-count">542</div>
          <div class="rewards__item-descr">BNB on reward pool</div>
        </div>
        <div class="rewards__item">
          <div class="rewards__item-count">542</div>
          <div class="rewards__item-descr">Your SAMU holdings</div>
        </div>
        <div class="rewards__item">
          <div class="rewards__item-count">542</div>
          <div class="rewards__item-descr">Your current reward</div>
        </div>
      </div>
      <a href="#" class="rewards__btn btn">connect wallet</a>
    </div>
  </div>
</section>