<section id="roadmap" class="roadmap" data-scene data-speed="1.2">
  <div class="roadmap__header section__header">
    <div class="container">
      <h2 class="section-title" data-aos="fade-up">Roadmap</h2>
    </div>
  </div>
  <div class="roadmap__elipse">
    <img src="img/elipse_1.png" alt="">
  </div>
  <div class="container">
    <div class="roadmap__wrapper">
      <div class="roadmap__item js-tilt back-layer" data-aos="flip-left" data-aos-duration="500" data-step=".01">
        <div class=""></div>
        <div class="roadmap__item-label">Step</div>
        <ul class="roadmap__item-list">
          <li class="roadmap__item-elem">Create Santa Musk Website & Social Media</li>
          <li class="roadmap__item-elem">Create SAMU token contract</li>
          <li class="roadmap__item-elem">Pass KYC + Audit</li>
          <li class="roadmap__item-elem">Phase 1 of Marketing</li>
        </ul>
      </div>
      <div class="roadmap__item js-tilt back-layer" data-aos="flip-left" data-aos-duration="1000" data-step=".02">

        <div class="roadmap__item-label">Step</div>
        <ul class="roadmap__item-list">
          <li class="roadmap__item-elem">Building the Community</li>
          <li class="roadmap__item-elem">Fairlaunch on Pinksale</li>
          <li class="roadmap__item-elem">Launch on Pancakeswap and lock Liquidity</li>
          <li class="roadmap__item-elem">Phase 2 of Marketing</li>
        </ul>
      </div>
      <div class="roadmap__item js-tilt back-layer" data-aos="flip-left" data-aos-duration="1500" data-step=".03">

        <div class="roadmap__item-label">Step</div>
        <ul class="roadmap__item-list">
          <li class="roadmap__item-elem">Building the Community</li>
          <li class="roadmap__item-elem">Fairlaunch on Pinksale</li>
          <li class="roadmap__item-elem">Launch on Pancakeswap and lock Liquidity</li>
          <li class="roadmap__item-elem">Phase 2 of Marketing</li>
        </ul>
      </div>
      <div class="roadmap__item js-tilt back-layer" data-aos="flip-left" data-aos-duration="2000" data-step=".04">

        <div class="roadmap__item-label">Step</div>
        <ul class="roadmap__item-list">
          <li class="roadmap__item-elem">Building the Community</li>
          <li class="roadmap__item-elem">Fairlaunch on Pinksale</li>
          <li class="roadmap__item-elem">Launch on Pancakeswap and lock Liquidity</li>
          <li class="roadmap__item-elem">Phase 2 of Marketing</li>
        </ul>
      </div>
    </div>
  </div>
</section>