<section class="swap">
  <div class="swap__header section__header">
    <div class="container">
      <h2 class="section-title">Swap</h2>
    </div>
  </div>
  <div class="racket">
    <img src="img/racket.png" alt="">
  </div>
  <div class="about__elipse">
    <img src="img/elipse_2.png" alt="">
  </div>
  <div class="container">
    <div class="swap-form">
      <div class="swap-form__blur back-layer"></div>
      <form action="">
        <div class="swap-form__item">
          <label class="swap-form__label">from</label>
          <div class="swap-form__values">
            <div class="swap-form__currency">
              <div id="from-token" class="select" data-modal="#modal-token">
                <div class="select__value">choose a token</div>
                <div class="select__arrow">
                  <img src="img/icon/arrow.svg" alt="arrow" />
                </div>
              </div>
            </div>
            <input class="swap-form__input" type="text" name="currency-summ" placeholder="0.0">
          </div>
        </div>
        <div class="swap-form__item">
          <label class="swap-form__label">in</label>
          <div class="swap-form__values">
            <div class="swap-form__currency">
              <div id="in-token" class="select" data-modal="#modal-token">
                <div class="select__value">choose a token</div>
                <div class="select__arrow">
                  <img src="img/icon/arrow.svg" alt="arrow" />
                </div>
              </div>
            </div>
            <input class="swap-form__input" type="text" name="result-summ" placeholder="0.0">
          </div>
        </div>
        <a href="#" class="swap-form__btn btn">connect wallet</a>
      </form>
    </div>
  </div>
</section>