<section id="team" class="team" data-scene data-speed="1.2">
  <div class="section__header team__header">
    <div class="container">
      <h2 class="section-title" data-aos="fade-up">Team</h2>
    </div>
  </div>
  <div class="container">
    <div class="team__slider swiper">
      <div class="swiper-wrapper team__wrapper">
        <div class="swiper-slide">
          <div class="team__item teamplate" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="500">
            <div class="teamplate__photo js-tilt">
              <img src="img/teamplate_1.jpg" alt="teamplate">
            </div>
            <div class="teamplate__descr">
              <div class="teamplate__name">Robert</div>
              <div class="teamplate__work-type">CEO</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team__item teamplate" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="1000">
            <div class="teamplate__photo js-tilt">
              <img src="img/teamplate_1.jpg" alt="teamplate">
            </div>
            <div class="teamplate__descr">
              <div class="teamplate__name">Harry</div>
              <div class="teamplate__work-type">Software Tester</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team__item teamplate" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="1500">
            <div class="teamplate__photo js-tilt">
              <img src="img/teamplate_1.jpg" alt="teamplate">
            </div>
            <div class="teamplate__descr">
              <div class="teamplate__name">George</div>
              <div class="teamplate__work-type">Programmer</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="team__item teamplate" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="2000">
            <div class="teamplate__photo js-tilt">
              <img src="img/teamplate_1.jpg" alt="teamplate">
            </div>
            <div class="teamplate__descr">
              <div class="teamplate__name">Jacob</div>
              <div class="teamplate__work-type">Developer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>