<section id="tokenomics" class="tokenomics" data-scene data-speed="1.2">
  <div class="tokenomics__header section__header">
    <div class="container">
      <h2 class="section-title" data-aos="fade-up">tokenomics</h2>
    </div>
  </div>
  <div class="tokenomics__elipse">
    <img src="img/elipse_1.png" alt="">
  </div>
  <div class="container">
    <div class="tokenomics__number">
      <div class="tokenomics__input input-block">
        <input id="token" type="text" value="0xdb305f8b9B45c92a8e71637e4E8C7dcfF8054e1b" readonly>
      </div>
      <button id="copy-token" class="tokenomics__btn">
        <span>Copy contract</span>
        <svg width="29" height="34" class="">
          <use xlink:href="./img/icons/icons.svg#copy"></use>
        </svg>
      </button>
    </div>
    <div class="tokenomics__ufo js-tilt" data-aos="zoom-in-up" data-aos-offset="100" data-aos-duration="2000">
      <img src="img/ufo.png" alt="ufo">
    </div>
    <div class="tokenomics__stat">
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 80%"></span>
          <span class="tokenomics__stat-count">80%</span>
        </div>
        <div class="tokenomics__stat-label">Team</div>
      </div>
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 60%"></span>
          <span class="tokenomics__stat-count">60%</span>
        </div>
        <div class="tokenomics__stat-label">Influencers</div>
      </div>
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 75%"></span>
          <span class="tokenomics__stat-count">75%</span>
        </div>
        <div class="tokenomics__stat-label">CEX listings</div>
      </div>
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 30%"></span>
          <span class="tokenomics__stat-count">30%</span>
        </div>
        <div class="tokenomics__stat-label">Airdrop</div>
      </div>
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 70%"></span>
          <span class="tokenomics__stat-count">70%</span>
        </div>
        <div class="tokenomics__stat-label">Liquidity</div>
      </div>
      <div class="tokenomics__stat-item">
        <div class="tokenomics__stat-progress">
          <span class="tokenomics__stat-line" style="height: 20%"></span>
          <span class="tokenomics__stat-count">20%</span>
        </div>
        <div class="tokenomics__stat-label">Presale</div>
      </div>
    </div>
  </div>
</section>